<br>
<br>
<br>
<br>
<br>

<div class="container">

  <h1>New Dose</h1>

  <%= simple_form_for [@cocktail, @dose] do |c| %>
    <%= c.association :ingredient %>
    <%= c.input :description %>
    <%= c.button :submit, class: "btn btn-danger" %>
  <% end %>
</div>
