.banner2 {
  background-image: asset-url('banner.png');
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  height: 40vh;
  position: relative;
}

.banner2 h1 {
  margin: 0;
  color: $zwhite;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;

}

.banner2 p {
  font-size: 20px;
  color: $zwhite;
  opacity: .8;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  position: absolute;
  top: 55%;
}
